<div class="sidebar-background" style="height:500px;background-repeat: no-repeat;background-image: url(../assets/img/1024px-World_map_blank_without_borders.png)">

    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12" style="text-align: center; margin-top: 10%"> 
                    <span style="color:blue;font-size: large">Wlcome to Carbon Footprint. Your one place to go for Carbon Footprint data.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="text-align: center; margin-top: 2%"> 
                    <input type="text"  style="width:500px" placeholder="Enter your credit card number"> 
                </div>
            </div>
            <div class="row">
                    <div class="col-sm-12" 
                    style="text-align: center;margin-top: 2%">
                            <a href="#" class="btn btn-success" routerLink="/dashboard">Know Your Carbon FootPrint</a>
                    </div>
            </div>
        </div>
    </div>
</div>